body {
    overflow: hidden
}

#canvas {
    width: 100%;
    height: 100%;
}

#canvas-border {
    position: relative;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    margin: -2px;
}

#message_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}

@keyframes message_box_animation {
    0% {
        height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    100% {
        height: 250px;
        padding: 10px
    }
}

#message_box {
    position: absolute;
    width: 500px;
    height: 250px;
    left: 0;
    right: 0;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: 2px solid white;
    padding: 10px;

    background-color: black;

    animation-name: message_box_animation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

#message_content {
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 30;
    word-wrap: normal;
    word-break: break-word;
    overflow: hidden;
    line-height: 117%;
}

#message_next {
    position: absolute;
    font-size: 30;
    bottom: 10px;
    right: 10px;
}

#message_buttons {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    display: none;
}

.message_buttons {
    width: 100px;
    height: 40px;
    padding-bottom: 5px;
    border: none;
    background-color: transparent;
}

.message_buttons:hover .message_arrow {
    display: block;
    background-color: transparent;
}

.message_button_text {
    display: inline-block;
    height: 100%;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    line-height: 35px;
}

@keyframes arrow_spin {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 0.05);
    }
}

.arrow_spin {
    animation-name: arrow_spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.message_arrow {
    position: relative;
    top: -34px;
    left: -34px;
    height: 34px;
    width: 34px;
    font-size: 20px;

    display: none
}

#module_message {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 50px;
}

#click_canvas {
    visibility: hidden;
}