#canvas {
    width:100%;
    height:100%;
}

#canvas-border {
    position: relative;
    border: 2px solid white;
    width:100%;
    height:100%;
    margin:-2px;
}

#message_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#message_box {
    position: absolute;
    width:500px;
    height:250px;
    left: 0;
    right: 0;
    bottom:0px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
    border: 2px solid white;
    padding: 10px;
}

#message_content {
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 30;
    word-wrap: normal;
    word-break: break-word;
    overflow: hidden;
    line-height: 117%;
}

@keyframes message_next_animation {
    0% {
        bottom: 15px;
    }
    100% {
        bottom: 10px;
    }
}

#message_next {
    position: absolute;
    font-size: 30;
    bottom: 10px;
    right: 10px;

    animation-name: message_next_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}