#canvas {
    width:100%;
    height:100%;
}

#canvas-border {
    position: relative;
    border: 2px solid white;
    width:100%;
    height:100%;
    margin:-2px;
}

#message_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#message_box {
    position: absolute;
    width:500px;
    height:250px;
    left: 0;
    right: 0;
    bottom:0px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
    border: 2px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes text-animation {
    0% {width: 1ch}
    100% {width: 10ch}
}

.message_content {
    display: inline-block;
    width: 10ch;
    font-family: monospace;
    font-size: 30;
    text-overflow: " ";
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;

    animation-name: text-animation;
    animation-duration: 10s;
}